.topbarContainer
{
    width: 100%;
    height: 50px;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1111;
}
.topbarLeft
{
    flex: 3;
}
.logo
{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.searchBar
{
    width: 100%;
    height: 25px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchInput
{
    border: none;
    width: 70%;
    margin-left: 14px;
}
.searchInput:focus
{
    outline: none;
}
.topbarCenter
{
    flex: 5;
}
.topbarRight
{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
.topbarLink
{
    margin-left: 10px;
    font-style: 14px;
    cursor: pointer;
}
.topbarIcons
{
    display: flex;
}
.topbarIconItem
{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge
{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topbarImg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}